.h1,.nav
{
	font-family: lato-n4, sans-serif;
}

.p,.h6-footer
{
	font-family: lato-n3, sans-serif;
}

.p-italic-indent
{
	font-family: lato-i3, sans-serif;
}

.bold-first-word
{
	font-family: lato-n7, sans-serif;
}

#u476-4,#u473-4
{
	font-family: lato-n3, sans-serif;
}

