.h1,.nav
{
	font-family: lato-n4, sans-serif;
}

.p,.h6-footer
{
	font-family: lato-n3, sans-serif;
}

.p-italic-indent
{
	font-family: lato-i3, sans-serif;
}

.bold-first-word
{
	font-family: lato-n7, sans-serif;
}

#u476-4,#u473-4
{
	font-family: lato-n3, sans-serif;
}

#u2115.TabbedPanelsTabSelected #u2118-4 p,#u1924.TabbedPanelsTabSelected #u1927-4 p,#u691.TabbedPanelsTabSelected #u694-4 p,#u694-4
{
	font-family: lato-n4, sans-serif;
}

#u1927-4
{
	font-family: lato-n4, sans-serif;
}

#u2118-4
{
	font-family: lato-n4, sans-serif;
}

#u1128-4,#u1143-4,#u1103-4,#u2086-4,#u2075-4,#u2094-4,#u2185-4,#u2166-4,#u2161-4
{
	font-family: lato-n3, sans-serif;
}

