.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: 2px;
}

#u520
{
	z-index: 44;
	width: 376px;
	margin-left: 291px;
}

#u476-4
{
	z-index: 51;
	width: 151px;
	min-height: 33px;
	margin-right: -10000px;
	margin-top: 36px;
}

#u468
{
	z-index: 45;
	width: 52px;
	margin-right: -10000px;
	left: 156px;
}

#u473-4
{
	z-index: 47;
	width: 168px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 45px;
	left: 208px;
}

#u402
{
	z-index: 41;
	width: 900px;
	height: 1px;
	margin-left: 30px;
	margin-top: 5px;
}

#menuu87
{
	z-index: 10;
	width: 371px;
	margin-left: 294px;
}

#u95
{
	width: 72px;
	min-height: 21px;
	margin-right: -10000px;
}

#u96
{
	width: 72px;
	padding-bottom: 4px;
}

#u99-4
{
	width: 72px;
	min-height: 17px;
	margin-right: -10000px;
	top: 2px;
}

#u96:hover #u99-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u157
{
	width: 72px;
	min-height: 21px;
	margin-right: -10000px;
	left: 74px;
}

#u160
{
	width: 72px;
	padding-bottom: 4px;
}

#u96.MuseMenuActive,#u160:hover
{
	margin: 0px;
}

#u162-4
{
	width: 72px;
	min-height: 17px;
	margin-right: -10000px;
	top: 2px;
}

#u96.MuseMenuActive #u99-4,#u160:hover #u162-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u138
{
	width: 73px;
	min-height: 21px;
	margin-right: -10000px;
	left: 148px;
}

#u139
{
	width: 73px;
	padding-bottom: 4px;
}

#u141-4
{
	width: 73px;
	min-height: 17px;
	margin-right: -10000px;
	top: 2px;
}

#u160.MuseMenuActive #u162-4,#u139:hover #u141-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u364
{
	width: 73px;
	min-height: 21px;
	margin-right: -10000px;
	left: 223px;
}

#u365
{
	width: 73px;
	padding-bottom: 4px;
}

#u367-4
{
	width: 73px;
	min-height: 17px;
	margin-right: -10000px;
	top: 2px;
}

#u139.MuseMenuActive #u141-4,#u365:hover #u367-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u196
{
	width: 73px;
	min-height: 21px;
	margin-right: -10000px;
	left: 298px;
}

#u199
{
	width: 73px;
	padding-bottom: 4px;
}

#u160.MuseMenuActive,#u139.MuseMenuActive,#u365.MuseMenuActive,#u199.MuseMenuActive
{
	margin: 0px;
}

#u201-4
{
	width: 73px;
	min-height: 17px;
	margin-right: -10000px;
	top: 2px;
}

#u365.MuseMenuActive #u367-4,#u199:hover #u201-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u199.MuseMenuActive #u201-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u411
{
	z-index: 42;
	width: 900px;
	height: 1px;
	margin-left: 30px;
}

#tab-panelu664
{
	z-index: 55;
	width: 900px;
	margin-left: 30px;
	margin-top: 27px;
	position: relative;
}

#u686
{
	z-index: 56;
	width: 900px;
	position: relative;
}

#u691
{
	z-index: 57;
	width: 300px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
}

#u691:hover
{
	background-color: transparent;
	margin: 0px -10000px 0px 0px;
}

#u691.TabbedPanelsTabSelected
{
	border-style: none;
	border-color: transparent;
	background-color: #E3EEDC;
	background-color: rgba(162, 200, 141, 0.3);
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(162, 200, 141, 0.3);
}

#u694-4
{
	z-index: 58;
	width: 300px;
	min-height: 20px;
	border-color: #999999;
	background-color: transparent;
	color: #000000;
	text-align: center;
	line-height: 20px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 2px;
}

#u691:hover #u694-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u691:hover #u694-4 p
{
	color: #A2C88D;
	visibility: inherit;
}

#u1924
{
	z-index: 62;
	width: 301px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
	left: 299px;
}

#u1924:hover
{
	background-color: transparent;
	margin: 0px -10000px 0px 0px;
}

#u1924.TabbedPanelsTabSelected
{
	border-style: none;
	border-color: transparent;
	background-color: #E3EEDC;
	background-color: rgba(162, 200, 141, 0.3);
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(162, 200, 141, 0.3);
}

#u1927-4
{
	z-index: 63;
	width: 301px;
	min-height: 20px;
	border-color: #999999;
	background-color: transparent;
	color: #000000;
	text-align: center;
	line-height: 20px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 2px;
}

#u1924:hover #u1927-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u1924:hover #u1927-4 p
{
	color: #A2C88D;
	visibility: inherit;
}

#u2115
{
	z-index: 67;
	width: 301px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
	left: 599px;
}

#u2115:hover
{
	background-color: transparent;
	margin: 0px -10000px 0px 0px;
}

#u2115.TabbedPanelsTabSelected
{
	border-style: none;
	border-color: transparent;
	background-color: #E3EEDC;
	background-color: rgba(162, 200, 141, 0.3);
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(162, 200, 141, 0.3);
}

#u2118-4
{
	z-index: 68;
	width: 301px;
	min-height: 20px;
	border-color: #999999;
	background-color: transparent;
	color: #000000;
	text-align: center;
	line-height: 20px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 2px;
}

#u2115:hover #u2118-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u691.TabbedPanelsTabSelected #u694-4,#u1924.TabbedPanelsTabSelected #u1927-4,#u2115.TabbedPanelsTabSelected #u2118-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u2115:hover #u2118-4 p
{
	color: #A2C88D;
	visibility: inherit;
}

#u691.TabbedPanelsTabSelected #u694-4 p,#u1924.TabbedPanelsTabSelected #u1927-4 p,#u2115.TabbedPanelsTabSelected #u2118-4 p
{
	color: #000000;
	visibility: inherit;
	font-family: lato, sans-serif;
	font-weight: 400;
	font-style: normal;
}

#u699
{
	z-index: 72;
	width: 889px;
	margin-left: 5px;
	margin-top: 20px;
	position: relative;
}

#u700
{
	z-index: 73;
	width: 889px;
	margin-right: -10000px;
	position: relative;
}

#slideshowu1102
{
	z-index: 74;
	width: 0.01px;
	height: 602px;
	position: relative;
	margin-right: -10000px;
}

#u1129popup
{
	z-index: 75;
}

#u1526
{
	z-index: 76;
	width: 750px;
	height: 500px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1526_img
{
	margin-left: -13px;
	margin-right: -13px;
}

#u1628
{
	z-index: 78;
	width: 750px;
	height: 500px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1628_img
{
	margin-top: -14px;
	margin-bottom: -14px;
}

#u1456
{
	z-index: 80;
	width: 750px;
	height: 500px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1456_img
{
	margin-top: -18px;
	margin-bottom: -18px;
}

#u1376
{
	z-index: 82;
	width: 750px;
	height: 500px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1376_img
{
	margin-top: -3px;
	margin-bottom: -3px;
}

#u1121popup
{
	z-index: 84;
}

#u1529
{
	z-index: 85;
	width: 112px;
	height: 86px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1529_img
{
	margin-left: -11px;
	margin-right: -11px;
}

#u1631
{
	z-index: 87;
	width: 112px;
	height: 86px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 96px;
}

#u1631_img
{
	margin-left: -5px;
	margin-right: -5px;
}

#u1459
{
	z-index: 89;
	width: 112px;
	height: 86px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 192px;
}

#u1459_img
{
	margin-left: -4px;
	margin-right: -4px;
}

#u1379
{
	z-index: 91;
	width: 112px;
	height: 86px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 288px;
}

#u1379_img
{
	margin-left: -8px;
	margin-right: -8px;
}

#u1138popup
{
	z-index: 93;
}

#u1532-7
{
	z-index: 94;
	width: 571px;
	min-height: 82px;
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

#u1634-6
{
	z-index: 101;
	width: 571px;
	min-height: 82px;
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

#u1462-7
{
	z-index: 107;
	width: 571px;
	min-height: 82px;
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

#u1382-7
{
	z-index: 114;
	width: 571px;
	min-height: 82px;
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

#u1128-4popup
{
	z-index: 121;
}

#u1143-4popup
{
	z-index: 125;
}

#u1103-4popup
{
	z-index: 129;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u1928
{
	z-index: 133;
	width: 889px;
	margin-bottom: -60px;
	margin-right: -10000px;
	position: relative;
}

#slideshowu2046
{
	z-index: 134;
	width: 0.01px;
	height: 662px;
	position: relative;
	margin-right: -10000px;
}

#u2077popup
{
	z-index: 135;
}

#u2520
{
	z-index: 136;
	width: 750px;
	height: 500px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2476
{
	z-index: 138;
	width: 750px;
	height: 500px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2476_img
{
	margin-top: -50px;
	margin-bottom: -30px;
}

#u2581
{
	z-index: 140;
	width: 750px;
	height: 500px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2520_img,#u2581_img
{
	margin-top: -40px;
	margin-bottom: -40px;
}

#u2596
{
	z-index: 142;
	width: 750px;
	height: 500px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2596_img
{
	margin-top: -50px;
	margin-bottom: -29px;
}

#u2611
{
	z-index: 144;
	width: 750px;
	height: 500px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2611_img
{
	margin-top: -45px;
	margin-bottom: -34px;
}

#u2644
{
	z-index: 146;
	width: 750px;
	height: 500px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1526_clip,#u1628_clip,#u1456_clip,#u1376_clip,#u2520_clip,#u2476_clip,#u2581_clip,#u2596_clip,#u2611_clip,#u2644_clip
{
	overflow: hidden;
	width: 750px;
	height: 500px;
}

#u2644_img
{
	margin-top: -40px;
	margin-bottom: -39px;
}

#u2065
{
	position: absolute;
	width: 98px;
	left: 17px;
}

#u2065popup
{
	z-index: 148;
}

#u2523
{
	z-index: 149;
	width: 98px;
	height: 75px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2523_img
{
	margin: -29px -79px -94px -80px;
}

#u2479
{
	z-index: 151;
	width: 98px;
	height: 75px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 85px;
}

#u2479.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin: 85px -10000px 0px 0px;
}

#u2479_img
{
	margin: -30px -73px -84px;
}

#u2584
{
	z-index: 153;
	width: 98px;
	height: 75px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 170px;
}

#u2584.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin: 170px -10000px 0px 0px;
}

#u2584_img
{
	margin: -38px -78px -82px;
}

#u2599
{
	z-index: 155;
	width: 98px;
	height: 75px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 255px;
}

#u2599.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin: 255px -10000px 0px 0px;
}

#u2599_img
{
	margin: -66px -60px -27px;
}

#u2614
{
	z-index: 157;
	width: 98px;
	height: 75px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 340px;
}

#u2614.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin: 340px -10000px 0px 0px;
}

#u2614_img
{
	margin: -33px -71px -77px;
}

#u2647
{
	z-index: 159;
	width: 98px;
	height: 75px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 425px;
}

#u2647.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin: 425px -10000px 0px 0px;
}

#u2523_clip,#u2479_clip,#u2584_clip,#u2599_clip,#u2614_clip,#u2647_clip
{
	overflow: hidden;
	width: 98px;
	height: 75px;
}

#u2647_img
{
	margin: -26px -31px -23px;
}

#u2089popup
{
	z-index: 161;
}

#u2526-5
{
	z-index: 162;
	width: 571px;
	min-height: 82px;
	padding: 10px;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u2482-5
{
	z-index: 167;
	width: 571px;
	min-height: 82px;
	padding: 10px;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u2587-5
{
	z-index: 172;
	width: 571px;
	min-height: 82px;
	padding: 10px;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u2602-5
{
	z-index: 177;
	width: 571px;
	min-height: 82px;
	padding: 10px;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u2617-5
{
	z-index: 182;
	width: 571px;
	min-height: 82px;
	padding: 10px;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u2650-5
{
	z-index: 187;
	width: 571px;
	min-height: 82px;
	padding: 10px;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u2526,#u2482,#u2587,#u2602,#u2617,#u2650
{
	font-weight: 900;
}

#u2086-4popup
{
	z-index: 192;
}

#u2075-4popup
{
	z-index: 196;
}

#u2094-4popup
{
	z-index: 200;
}

#u2119
{
	z-index: 204;
	width: 889px;
	margin-right: -10000px;
	position: relative;
}

#slideshowu2156
{
	z-index: 205;
	width: 0.01px;
	height: 602px;
	position: relative;
	margin-right: -10000px;
}

#u1129,#u2077,#u2157
{
	position: absolute;
	width: 750px;
	height: 500px;
	background-color: transparent;
	left: 139px;
}

#u2157popup
{
	z-index: 206;
}

#u2216
{
	z-index: 207;
	width: 750px;
	height: 500px;
	border-style: none;
	border-color: transparent;
	background-color: #C7C7C7;
	margin-right: -10000px;
	position: relative;
}

#u2216_img
{
	padding: 17px 75px 18px 74px;
}

#u2312
{
	z-index: 209;
	width: 750px;
	height: 500px;
	border-style: none;
	border-color: transparent;
	background-color: #C7C7C7;
	margin-right: -10000px;
	position: relative;
}

#u2312_img
{
	padding: 16px 74px 16px 73px;
}

#u2674
{
	z-index: 211;
	width: 750px;
	height: 500px;
	border-style: none;
	border-color: transparent;
	background-color: #C7C7C7;
	margin-right: -10000px;
	position: relative;
}

#u2674_img
{
	padding: 15px 71px;
}

#u2280
{
	z-index: 213;
	width: 750px;
	height: 500px;
	border-style: none;
	border-color: transparent;
	background-color: #C7C7C7;
	margin-right: -10000px;
	position: relative;
}

#u2280_img
{
	padding: 16px 73px;
}

#u2289
{
	z-index: 215;
	width: 750px;
	height: 500px;
	border-style: none;
	border-color: transparent;
	background-color: #C7C7C7;
	margin-right: -10000px;
	position: relative;
}

#u2289_img
{
	padding: 18px 75px;
}

#u1121,#u2163
{
	position: absolute;
	width: 112px;
	left: 10px;
}

#u2163popup
{
	z-index: 217;
}

#u2219
{
	z-index: 218;
	width: 112px;
	height: 86px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1529.SSSlideLinkSelected,#u2523.SSSlideLinkSelected,#u2219.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin: 0px -10000px 0px 0px;
}

#u2315
{
	z-index: 220;
	width: 112px;
	height: 86px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 96px;
}

#u1631.SSSlideLinkSelected,#u2315.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin: 96px -10000px 0px 0px;
}

#u2677
{
	z-index: 222;
	width: 112px;
	height: 86px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 192px;
}

#u1459.SSSlideLinkSelected,#u2677.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin: 192px -10000px 0px 0px;
}

#u2283
{
	z-index: 224;
	width: 112px;
	height: 86px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 288px;
}

#u1379.SSSlideLinkSelected,#u2283.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin: 288px -10000px 0px 0px;
}

#u2292
{
	z-index: 226;
	width: 112px;
	height: 86px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 384px;
}

#u2292.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin: 384px -10000px 0px 0px;
}

#u1529_clip,#u1631_clip,#u1459_clip,#u1379_clip,#u2219_clip,#u2315_clip,#u2677_clip,#u2283_clip,#u2292_clip
{
	overflow: hidden;
	width: 112px;
	height: 86px;
}

#u1138,#u2089,#u2186
{
	position: absolute;
	width: 591px;
	top: 500px;
	left: 139px;
}

#u2186popup
{
	z-index: 228;
}

#u2222-5
{
	z-index: 229;
	width: 571px;
	min-height: 82px;
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

#u2318-5
{
	z-index: 234;
	width: 571px;
	min-height: 82px;
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

#u2680-5
{
	z-index: 239;
	width: 571px;
	min-height: 82px;
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

#u2286-5
{
	z-index: 244;
	width: 571px;
	min-height: 82px;
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

#u2295-5
{
	z-index: 249;
	width: 571px;
	min-height: 82px;
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

#u1128-4,#u2086-4,#u2185-4
{
	position: absolute;
	width: 31px;
	min-height: 20px;
	padding: 10px;
	color: #000000;
	text-align: center;
	line-height: 14px;
	font-family: lato, sans-serif;
	font-weight: 300;
	top: 503px;
	left: 805px;
}

#u2185-4popup
{
	z-index: 254;
}

#u1143-4,#u2075-4,#u2166-4
{
	position: absolute;
	width: 10px;
	min-height: 19px;
	padding: 10px;
	font-size: 24px;
	color: #000000;
	text-align: center;
	line-height: 19px;
	font-family: lato, sans-serif;
	font-weight: 300;
	top: 501px;
	left: 773px;
}

#u2166-4popup
{
	z-index: 258;
}

#u1103-4,#u2094-4,#u2161-4
{
	position: absolute;
	width: 10px;
	min-height: 19px;
	padding: 10px;
	font-size: 24px;
	color: #000000;
	text-align: center;
	line-height: 19px;
	font-family: lato, sans-serif;
	font-weight: 300;
	top: 501px;
	left: 859px;
}

#u2161-4popup
{
	z-index: 262;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton,.TabbedPanelsTab /* slideshowFreeStyle */
{
	cursor: pointer;
}

#u70-4
{
	z-index: 6;
	width: 340px;
	min-height: 14px;
	margin-left: 310px;
	margin-top: 72px;
}

#u536
{
	z-index: 43;
	width: 265px;
	height: 1px;
	margin-left: 348px;
}

#u69-4
{
	z-index: 2;
	width: 340px;
	min-height: 16px;
	margin-left: 310px;
	margin-top: 3px;
}

body
{
	padding-top: 20px;
	padding-bottom: 27px;
}

#page .verticalspacer
{
	clear: both;
}

